<html>
    <head>
        <title>$i18n.getText("zabbix-plugin.config.label")</title>
        <meta name="decorator" content="atl.admin">
        $webResourceManager.requireResource("com.mesilat.zabbix-plugin:resources")
    </head>
    <body>

    <h3>$i18n.getText("zabbix-plugin.config.header")</h3>

    <form id="config" class="aui">
        <div class="field-group">
            <label for="url">$i18n.getText("zabbix-plugin.config.url.label")</label>
            <input type="text" id="url" name="url" class="text">
        </div>
        <div class="field-group">
            <label for="username">$i18n.getText("zabbix-plugin.config.username.label")</label>
            <input type="text" id="username" name="username" class="text">
        </div>
        <div class="field-group">
            <label for="password">$i18n.getText("zabbix-plugin.config.password.label")</label>
            <input type="password" id="password" name="password" class="text">
        </div>
        <div class="field-group">
            <input type="submit" value="$i18n.getText("zabbix-plugin.config.save.label")" class="button">
        </div>
        <div id="config-result" class="aui-message" style="display:none;"></div>
    </form>
  </body>
</html>
