{namespace Mesilat.Zabbix.GeneralTemplates}

/**
* Zabbix Not Licensed template
*/
{template .notLicensedWarning}
<div class="zabbix-plugin-not-licensed-warning">{getText('com.mesilat.zabbix-plugin.warning.no-license')}</div>
{/template}
